{% extends 'layout.html' %}

{% block main %}
<h1>Your Current Session</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Semester</th>
            <th scope="col">Class</th>
            <th scope="col">Topic</th>
            <th scope="col">Duration (Minutes)</th>
            <th scope="col">Session</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ semester }}</td>
            <td>{{ course }}</td>
            <td>{{ topic }}</td>
            <td>{{ duration }}</td>
            <td>{{ today }}</td>
        </tr>
    </tbody>
</table>
<div class="container">
    <h1>Counting Down...</h1>
    <div class="twelve columns text-center">
        <div id="default_container">
            <h1 id="countdown" style="font-size:100px;"></h1>
            <script>
                window.onload = () => {

                    alert('Counting Down!');

                    let countdown;

                    const submitBtn = document.getElementById('last');
                    const time = document.getElementById("countdown");
                    const stop = document.getElementById("stop");
                    const start = document.getElementById("start");

                    let currentDuration = {{ duration }};

                    if (parseInt(currentDuration) < 10) {
                        currentDuration = "0" + currentDuration;
                    }

                    const stringDuration = currentDuration + ":00";

                    submitBtn.disabled = true;

                    time.innerHTML = stringDuration;

                    clearInterval(countdown);
                    countdown = setInterval(decrementTime, 1000);

                    start.disabled = true;

                    function decrementTime() {
                        let currentMinutes = parseInt(time.textContent.substr(0, 3));
                        let extraSeconds = parseInt(time.textContent.slice(time.textContent.length - 2));
                        let timeInSeconds = currentMinutes * 60 + extraSeconds;

                        timeInSeconds -= 1;

                        let minutes = Math.floor(timeInSeconds / 60);
                        let seconds = timeInSeconds % 60;

                        // Formatting the zeros when the timer hits a 10 either in seconds or minutes
                        seconds < 10
                            ? (time.textContent = `${minutes}:0${seconds}`)
                            : (time.textContent = `${minutes}:${seconds}`);

                        if (minutes < 10) {
                            time.textContent = `0${minutes}:${seconds}`;
                        }

                        if ((minutes < 10) & (seconds < 10)) {
                            time.textContent = `0${minutes}:0${seconds}`;
                        }

                        // When time's up, play a sound
                        if (timeInSeconds == 0) {
                            stopTime();
                            start.disabled = true;
                            stop.disabled = true;
                            submitBtn.disabled = false;
                            alert("Time's Up!");
                            return;
                        }

                    }

                    // function which stops the timer;
                    function stopTime() {
                        // Clear the timer
                        clearInterval(countdown);
                    }

                    stop.addEventListener("click", ()=> {
                        if (start.disabled = true) start.disabled = false;
                        stopTime();
                        stop.disabled = true;
                    })

                    start.addEventListener("click", ()=> {
                        if (stop.disabled = true) stop.disabled = false;
                        countdown = setInterval(decrementTime, 1000);
                        start.disabled = true;
                    })
                }

            </script>
            <div>
                <button id="start" style="display:inline" type="button" class="btn btn-success">Start</button>
                <button id="stop" style="display:inline" type="button" class="btn btn-danger">Stop</button>
            </div>
            <br><br>
            <div>
                <form action="/timer" method="post">
                    <div class="form-group">
                        <input class="form-control" name="confidence" placeholder="Confidence (1-10)" type="number"
                            min="1" max="10">
                        <small class="form-text text-muted">e.g '5'</small> <br>
                        <button id="last" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}